CompileFlags:
  Add:
    - "-IC:/everything/docs/repo/audacity/libraries/lib-theme-resources"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-theme"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-effects"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-fft"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-file-formats"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-import-export"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-menus"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-mixer"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-note-track"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-preference-pages"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-preferences"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-project"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-sample-track"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-snapping"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-wave-track"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-wx-wrappers"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-track"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-math"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-audio-graph"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-xml"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-wx-init"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-wave-track-paint"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-vst3"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-vst"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-viewport"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-uuid"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-utility"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-url-schemes"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-track-selection"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-time-track"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-time-frequency-selection"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-time-and-pitch"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-tags"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-strings"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-string-utils"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-stretching-sequence"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-sqlite-helpers"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-shuttlegui"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-sentry-reporting"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-screen-geometry"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-registries"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-realtime-effects"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-project-rate"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-project-history"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-project-file-io"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-playable-track"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-numeric-formats"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-network-manager"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-music-information-retrieval"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-module-manager"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-lv2"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-ladspa"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-graphics"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-files"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-export-ui"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-exceptions"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-dynamic-range-processor"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-crypto"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-crashpad-configurer"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-concurrency"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-components"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-cloud-audiocom"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-channel"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-builtin-effects"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-breakpad-configurer"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-basic-ui"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-audio-unit"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-audio-io"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-audio-devices"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-audacity-application-logic"
    - "-IC:/everything/docs/repo/audacity/libraries/image-compiler"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-command-parameters"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-transactions"
    - "-IC:/everything/docs/repo/audacity/libraries/lib-ipc"
    - "-IC:/Users/coyote/.conan/data/wxwidgets/3.1.3.4-audacity/_/_/package/fa2df25618b85785b64ca20d59cd65194f8e6bc7/include"
